      .container {
        margin-left: 4rem;
        margin-top: 4rem;
      }
      .container div {
        width: 70px;
        height: 60px;
        border: 1px solid black;
      }
      .container {
        font-size: 0;
      }
      .container div {
        font-size: 1rem;
      }
      div {
        display: inline-block;
        position: relative;
      }
      
      .container div:nth-child(even) {
        border: 1px solid red;
      }
      .container div:nth-child(odd)>span:nth-child(even) {
        color: green;
      }
      .container div:nth-child(2)>span:last-of-type {
        color: blue;
      }
      .container div:nth-child(6)>span:not(:last-of-type) {
        color: yellow;
      }
      .container div>span:first-of-type{
        position: absolute;
        left: 30px;
        top: 60px;
      }
      .container div>span:nth-child(2){
        position: absolute;
        left: 30px;
        bottom: 60px;
      }
      .container div:last-of-type>span:last-of-type {
        position: absolute;
        left: 80px;
        top: 20px;
      }
      .container div:first-of-type>span:last-of-type {
        position: absolute;
        right: 80px;
        top: 20px ;
      }
      
      